// Start of course feedback page
div(data-role='page', id='course-feedback-page', data-theme='a')

  include header

  div(data-role='content')

    h3= title

    span Please rate the different aspects of the course (1-4)

    form(action='', method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='slider-1') Book
          input(type='range', name='book', id='slider-1',
                value='2', min='1', max='4',
                data-highlight='true',
                data-theme='a', data-track-theme='b')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='slider-2') Exercises
          input(type='range', name='exercises', id='slider-2',
                value='2', min='1', max='4', data-highlight='true',
                data-theme='a', data-track-theme='b')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='slider-3') Exam
          input(type='range', name='exam', id='slider-3',
                value='2', min='1', max='4', data-highlight='true',
                data-theme='a', data-track-theme='b')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='slider-4') Overall
          input(type='range', name='overall', id='slider-4',
                value='2', min='1', max='4', data-highlight='true',
                data-theme='a', data-track-theme='b')
      div(data-role='fieldcontain')
        label(for='comments') Comments
        textarea(name='message', id='comments', cols='10', rows='15',
                 value='', placeholder='Add comments here...')
      div(class='ui-grid-a')
        div(class='ui-block-a')
          input(type='submit', id='submit-course-feedback', name='submit-feedback', value='Submit')
        div(class='ui-block-b')
          a(href='./', type='button', id='cancel-course-feedback', data-rel='back') Cancel

  // /content

// End of course feedback page

