// Start of course page
div(data-role='page', id='course-page', data-theme='a')

  include header

  div(data-role='content')
    - var base_url = '/course/' + course.id
    - var dl_url = ''
    - var full_url = ''
    ul(class='event-list', data-role='listview', data-inset='true', data-count-theme='a')
      li
        a(href='#{base_url}/feedback') Course feedback

      //- if(course.lectures.length > 0)
      li(data-role='list-divider') Lectures

      each lecture in course.lectures
        - dl_url = dateFormat(lecture.date, 'yyyymmdd')
        - full_url = [base_url, 'lecture', dl_url].join('/')
        li
          a(href='#{full_url}')
            = dateFormat(lecture.date, 'dd mmm yy')
            |  #{lecture.topic}
          span(class='ui-li-count')= lecture.feedbacks.length

      li(class='lecture-list')
        a(href='#', class='more', 
          data-event-type='lecture'
          data-page='1', data-ajax='false') Load more lectures

      //- if(course.assignments.length > 0)
      li(data-role='list-divider') Assignments

      each assignment in course.assignments
        - dl_url = dateFormat(assignment.deadline, 'yyyymmddHHMM')
        - full_url = [base_url, 'assignment', dl_url].join('/')
        li(data-role='li-divider')
          a(href='#{full_url}')
            | #{assignment.title} (DL: 
            = dateFormat(assignment.deadline, 'dd mmm yy')
            | )
          span(class='ui-li-count')= assignment.feedbacks.length

      li(class='assignment-list')
        a(href='#', class='more'
          data-event-type='assignment'
          data-page='1', data-ajax='false') Load more Assignments

      //- if(course.exams.length > 0)
      li(data-role='list-divider') Exams

      each exam in course.exams
        - dl_url = dateFormat(exam.date, 'yyyymmdd')
        - full_url = [base_url, 'exam', dl_url].join('/')
        li(data-role='list-divider')
          a(href='#{full_url}')
            | Exam: #{dateFormat(exam.date, 'dd mmm yy')}
          span(class='ui-li-count')= exam.feedbacks.length

      li(class='exam-list')
        a(href='#', class='more'
          data-event-type='exam'
          data-page='1', data-ajax='false') Load more exams


    ul(data-role='listview', data-inset='true')
      li
        a(href='#{base_url}/show_feedback') Show all feedback

// End of course page
