// Start of course page
div(data-role='page', id='course-page', data-theme='a')

  include header

  div(data-role='content')

    ul(data-role='listview', data-inset='true'): li: a(href='/course/#{course.id}/feedback') Course feedback

    div(data-role='collapsible-set', data-content-theme='b')
      div(data-role='collapsible')
        h3 Lectures
        ul(data-role='listview', data-inset='true')
          - each lecture in course.lectures
            li: a(href='/course/#{course.id}/lecture/#{dateFormat(lecture.date, 'yyyymmdd')}')
              |#{dateFormat(lecture.date, 'dd mmm yy')}: #{lecture.topic}
      div(data-role='collapsible')
        h3 Assignments
        ul(data-role='listview', data-inset='true')
          - each assignment in course.assignments
            li: a(href='/course/#{course.id}/assignment/#{dateFormat(assignment.deadline, 'yyyymmddHHMM')}')
              |#{assignment.title} (DL: #{dateFormat(assignment.deadline, 'dd mmm yy')})
      div(data-role='collapsible')
        h3 Exams
        ul(data-role='listview', data-inset='true')
          - each exam in course.exams
            li: a(href='/course/#{course.id}/exam/#{dateFormat(exam.date, 'yyyymmdd')}')
              |Exam: #{dateFormat(exam.date, 'dd mmm yy')}

    ul(data-role='listview', data-inset='true'): li: a(href='/course/#{course.id}/show_feedback') Show feedback 


 // /content

// End of course page