// Start of course page
div(data-role='page', id='course-page', data-theme='a')

  include header

  div(data-role='content')

    ul(data-role='listview', data-inset='true')
      li
        a(href='#course-feedback') Course feedback

    div(data-role='collapsible-set', data-content-theme='b')
      div(data-role='collapsible')
        h3 Lectures
        ul(data-role='listview', data-inset='true')
          - each lecture in lectures
            li: a(href='/course/#{id}/lecture/#{lecture.number}') Lecture #{lecture.number}: #{lecture.title}
      div(data-role='collapsible')
        h3 Assignments
        ul(data-role='listview', data-inset='true')
          - each assignment in assignments
            li: a(href='/course/#{id}/assignment/#{assignment.number}') Assignment #{assignment.number}: #{assignment.title}
      div(data-role='collapsible')
        h3 Exams
        ul(data-role='listview', data-inset='true')
          - each exam in exams
            li: a(href='/course/#{id}/exam/#{dateFormat(exam.date, 'yyyymmdd')}') Exam: #{dateFormat(exam.date, 'dd mmm yy')}

  // /content

// End of index page