// Start of feedback page
div(data-role='page', id='feedback-page', data-theme='a')

  include header

  div(data-role='content')

    span= preTitle
    h3= title
    
    div(class='messages')

    div(class='ui-grid-a')
      div(class='ui-block-a')
        a(href='#'
        rel='external'
        data-ajax='false'
        type='button'
        class='vote-button vote-button-up'
        data-votetype='up'
        data-theme='c')
          span(class='upvotes')
            = element.votes.up ? '+' + element.votes.up : ''
          img(src='/public/images/thumbup_32.png')
      div(class='ui-block-b')
        a(href='#'
        rel='external'
        data-ajax='false'
        type='button'
        class='vote-button vote-button-down'
        data-votetype='down'
        data-theme='d')
          span(class='downvotes')
            = element.votes.down ? '-' + element.votes.down : ''
          img(src='/public/images/thumbdn_32.png')

    ul(data-role='listview', data-inset='true')
      li(data-role='list-divider') Add feedback:
      li
        form(id='feedback-form', action='', method='post')
          textarea(cols='40', rows='10', name='message', id='feedback-message', value='')
          input(id='submit-feedback'
          type='submit'
          name='submit-feedback'
          value='Submit')

    ul(class='feedback-thread', data-role='listview', data-inset='true')
      - var feedbacks = element.feedbacks.reverse()
      each feedback in feedbacks
        li(class='feedback ui-btn-up-a', data-icon='false', data-feedback-id='#{feedback._id}')
          div(class='feedback-header')
            |#{dateFormat(feedback.date, 'mmmm dS yyyy, HH:MM')}: 
            div(class='thumbs')
              span
                if (feedback.votes.up)
                  span(id='#{feedback._id}-up')
                    = '+' + feedback.votes.up
                  img(class='#{feedback._id}-up thumb'
                    src='/public/images/thumbup_32.png')
                else
                  span(id='#{feedback._id}-up')
                  img(class='#{feedback._id}-up thumb'
                    style='display:none;'
                    src='/public/images/thumbup_32.png')
              span
                if (feedback.votes.down)
                  span(id='#{feedback._id}-down')
                      = '-' + feedback.votes.down
                  img(class='#{feedback._id}-down thumb'
                    src='/public/images/thumbdn_32.png')
                else
                  span(id='#{feedback._id}-down')
                  img(class='#{feedback._id}-down thumb'
                    style='display:none;'
                    src='/public/images/thumbdn_32.png')
                  
          div(class='feedback-body')= feedback.body
          each reply in feedback.replies
            div(class='reply ui-li ui-li-static ui-corner-all')
              div(class='feedback-header')
                |#{dateFormat(reply.date, 'mmmm dS yyyy, HH:MM')}: 
              div(class='feedback-body')= reply.body

    a(id='open-dialog'
      href='#feedback-dialog'
      data-rel='dialog'
      data-transition='pop'
      style='display:none;')

    div(id='feedback-dialog', style='display: none;')
      //- div(data-role='header')
      //-   h1 Vote or reply
      //- div(id='dialog-content', data-role='content', data-theme='a')
      div(class='ui-grid-a')
        div(class='ui-block-a')
          a(href='#'
          rel='external'
          data-ajax='false'
          type='button'
          class='dialog-vote-button'
          data-votetype='up'
          data-theme='c')
            img(src='/public/images/thumbup_32.png')
        div(class='ui-block-b')
          a(href='#'
          rel='external'
          data-ajax='false'
          type='button'
          class='dialog-vote-button'
          data-votetype='down'
          data-theme='d')
            img(src='/public/images/thumbdn_32.png')

      form(id='reply-form', method='POST', action='')
        input(type='hidden', name='feedbackid', id='dialog-feedbackid')
        input(type='hidden', name='votetype', id='dialog-votetype')
        textarea(cols='40', rows='10', name='message', id='reply-message', value='')
        div(class='ui-grid-a')
          div(class='ui-block-a')
            a(id='submit-reply', href='#', class='reply-button', type='button') Reply
          div(class='ui-block-b')
            a(id='cancel-reply', href='#', class='reply-button', type='button') Cancel

  // /content

// End of feedback page


