// Start of course page
div(data-role='page', id='course-page', data-theme='a')

  include header

  div(data-role='content')

    ul(data-role='listview', data-filter='true', data-inset='true')

      li(data-role='list-divider') Course feedback:
      - var hasFeedback = false;
      if course.feedbacks && course.feedbacks.length > 0
        each feedback in course.feedbacks
          li
            h4= dateFormat(feedback.date, 'dd mmm yy - HH:MM')+':'
            p(class='feedback')= feedback.body
      else
        li No course feedback.

      li(data-role='list-divider') Lecture feedback:

      each lecture in course.lectures

        if lecture.feedbacks && lecture.feedbacks.length > 0
          - hasFeedback = true
          li
            h4 #{dateFormat(lecture.date, 'dd mmm yy')}: #{lecture.topic}
            each feedback in lecture.feedbacks
              p(class='feedback')
                strong(class='feedback-date')= dateFormat(feedback.date, 'dd mmm yy - HH:MM')+': '
                span(class='feedback-body')= feedback.body
      if !hasFeedback
        li No lecture feedback.
      else
        - hasFeedback = false

      li(data-role='list-divider') Assignment feedback:

      each assignment in course.assignments
        if assignment.feedbacks && assignment.feedbacks.length > 0
          - hasFeedback = true
          li
            h4 #{assignment.title}
            each feedback in assignment.feedbacks
              p(class='feedback')
                strong(class='feedback-date')= dateFormat(feedback.date, 'dd mmm yy - HH:MM')+': '
                span(class='feedback-body')= feedback.body
      if !hasFeedback
        li No assignment feedback.
      else
        - hasFeedback = false

      li(data-role='list-divider') Exam feedback:

      each exam in course.exams
        if exam.feedbacks && exam.feedbacks.length > 0
          - hasFeedback = true
          li
            h4 Exam #{dateFormat(exam.date, 'dd mmm yy')}
            each feedback in exam.feedbacks
              p(class='feedback')
                strong(class='feedback-date')= dateFormat(feedback.date, 'dd mmm yy - HH:MM')+': '
                span(class='feedback-body')= feedback.body
      if !hasFeedback
        li No exam feedback.
      else
        - hasFeedback = false




 // /content

// End of course page