
// Start of index page
div(data-role='page', id="start-page", data-theme='a')
  div(data-role='header')
    h1
      span(class='aalto-logo')
      span= title
    a(href='#', data-role='button', data-icon='home', data-iconpos='notext', data-direction='reverse') Home
    a(href='#', data-role='button', data-icon='arrow-r', data-iconpos='right') Login


  div(data-role='content')
    h2 Welcome to #{title}

    ul(data-role='listview', data-filter='true', data-inset='true')
      li(data-role='list-divider') Select course
      - each course in courses
        li
          a(href="#")
            span(class='course-id')= course.id
            span(class='course-title')= course.title


  // /content

// End of index page

// Start of course page

div(data-role='page', id='course-page', data-theme='a')
  div(data-role='header')
    h1
      span(class='aalto-logo')
      span= title
    a(href='#', data-role='button', data-icon='home', data-iconpos='notext', data-direction='reverse') Home
    a(href='#', data-role='button', data-icon='arrow-r', data-iconpos='right') Login


  div(data-role='content')

    ul(data-role='listview', data-inset='true')
      li
        a(href='#course-feedback') Course feedback

    div(data-role='collapsible-set')
      div(data-role='collapsible')
        h3 Lectures
        p List of lectures would be here.
      div(data-role='collapsible')
        h3 Assignments
        p List of assignments would be here.
      div(data-role='collapsible')
        h3 Exams
        p List of exams would be here.

  // /content

// End of index page
